<h1>Rental Fleet Laporte</h1>
<br />

<%- if can? :create, RentalFleet %>
	<%= link_to 'Nouvelle Unite', new_rental_fleet_path %>
<% end %>

<br />
<table class="table">
  <tr>
    <th>Modele</th>
    <th># Serie</th>
    <th>Client</th>
    <th>Location</th>
    <th>Date de Sortie</th>
    <th>Vendeur</th>
    <th>Heures</th>
    <th>Bonus</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @rental_fleets.each do |rental_fleet| %>
  <tr>
    <td><%= rental_fleet.model %></td>
    <td><%= rental_fleet.serial %></td>
    <td><%= rental_fleet.client %></td>
    <td><%= rental_fleet.location %></td>
    <td><%= rental_fleet.dateout %></td>
    <td><%= rental_fleet.salesman %></td>
    <td><%= rental_fleet.hours %></td>
    <td><%= number_to_currency(rental_fleet.bonus) %></td>
    <td><%= link_to 'Details', rental_fleet %></td>
    <%- if can? :update, RentalFleet %>
    	<td><%= link_to 'Modifier', edit_rental_fleet_path(rental_fleet) %></td>
    <% end %>
    <%- if can? :destroy, RentalFleet %>
    	<td><%= link_to 'Supprimer', rental_fleet, method: :delete, data: { confirm: 'Are you sure?' } %></td>
 	<% end %>
  </tr>
<% end %>
</table>

<br />


