<h1>Listing rental_fleets</h1>

<table>
  <tr>
    <th>Model</th>
    <th>Serial</th>
    <th>Client</th>
    <th>Location</th>
    <th>Dateout</th>
    <th>Salesman</th>
    <th>Datereturn</th>
    <th>Hours</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @rental_fleets.each do |rental_fleet| %>
  <tr>
    <td><%= rental_fleet.model %></td>
    <td><%= rental_fleet.serial %></td>
    <td><%= rental_fleet.client %></td>
    <td><%= rental_fleet.location %></td>
    <td><%= rental_fleet.dateout %></td>
    <td><%= rental_fleet.salesman %></td>
    <td><%= rental_fleet.datereturn %></td>
    <td><%= rental_fleet.hours %></td>
    <td><%= link_to 'Show', rental_fleet %></td>
    <td><%= link_to 'Edit', edit_rental_fleet_path(rental_fleet) %></td>
    <td><%= link_to 'Destroy', rental_fleet, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Rental fleet', new_rental_fleet_path %>
