<h1>Liste des Usages Autre Marques</h1>


<div class="search">
	<%= search_form_for @search do |f|%>
		<div class="field">
		    <%= f.label :model_or_serial_or_stock_cont, "Recherche Modele, #Serie, #Stock" %>
		    
		  
		    <%= f.text_field :model_or_serial_or_stock_cont %>
	  	</div>
	  	<div class="actions">
	    	<%= f.submit "Rechercher" %>
	  	</div>
	<% end %>
</div>


<% if can? :create, UsedOther %>
	<%= link_to 'Nouveau Usage', new_used_other_path %>
<% end %>

<table class="table">
  <tr>
    <th><%= sort_link @search, :location, "Empl" %></th>
    <th><%= sort_link @search, :brand, "Marque" %></th>
    <th><%= sort_link @search, :model, "Modele" %></th>
    <th><%= sort_link @search, :year, "Annee" %></th>
    <th><%= sort_link @search, :serial, "#Serie" %></th>
    <th><%= sort_link @search, :stock, "#Stock" %></th>
    <th><%= sort_link @search, :hours, "Heures" %></th>
    <th><%= sort_link @search, :fielddate, "Arrivee" %></th>
    <th><%= sort_link @search, :status, "Status" %></th>
    <th><%= sort_link @search, :lsp, "LSP" %></th>
    <th><%= sort_link @search, :price, "Prix" %></th>
    <th><%= sort_link @search, :bonus, "Bonus" %></th>
    <th><%= sort_link @search, :description, "Description" %></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @used_others.each do |used_other| %>
  <tr>
    <td><%= used_other.location.name %></td>
    <td><%= used_other.brand %></td>
    <td><%= used_other.model %></td>
    <td><%= used_other.year %></td>
    <td><%= used_other.serial %></td>
    <td><%= used_other.stock %></td>
    <td><%= used_other.hours %></td>
    <td><%= used_other.fielddate %></td>
    <td><%= used_other.status.stat %></td>
    <td><%= number_to_currency(used_other.lsp) %></td>
    <td><%= number_to_currency(used_other.price) %></td>
    <td><%= number_to_currency(used_other.bonus) %></td>
    <td><%= used_other.description %></td>
    <td><%= link_to 'Details', used_other %></td>
    <% if can? :update, UsedOther %>
    	<td><%= link_to 'Modifier', edit_used_other_path(used_other) %></td>
    <% end %>
    <% if can? :update, UsedOther %>
    	<td><%= link_to 'Supprimer', used_other, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <% end %>
  </tr>
<% end %>
</table>

<br />

