<p id="notice"><%= notice %></p>

<p>
  <b>Location:</b>
  <%= @used_other.location_id %>
</p>

<p>
  <b>Brand:</b>
  <%= @used_other.brand %>
</p>

<p>
  <b>Model:</b>
  <%= @used_other.model %>
</p>

<p>
  <b>Year:</b>
  <%= @used_other.year %>
</p>

<p>
  <b>Serial:</b>
  <%= @used_other.serial %>
</p>

<p>
  <b>Stock:</b>
  <%= @used_other.stock %>
</p>

<p>
  <b>Hours:</b>
  <%= @used_other.hours %>
</p>

<p>
  <b>Fielddate:</b>
  <%= @used_other.fielddate %>
</p>

<p>
  <b>Lsp:</b>
  <%= @used_other.lsp %>
</p>

<p>
  <b>Price:</b>
  <%= @used_other.price %>
</p>

<p>
  <b>Bonus:</b>
  <%= @used_other.bonus %>
</p>

<p>
  <b>Description:</b>
  <%= @used_other.description %>
</p>


<%= link_to 'Edit', edit_used_other_path(@used_other) %> |
<%= link_to 'Back', used_others_path %>
