<h1>Liste des attachements</h1>

<br />
<div class="search">
	<%= search_form_for @search do |f|%>
		<div class="field">
		    <%= f.label :modele_cont, "Modele est :" %>
		    <%= f.text_field :modele_cont %>
	  	</div>
	  	<div class="actions">
	    	<%= f.submit "Rechercher" %>
	  	</div>
	<% end %>
</div>
<br />
<%- if can? :create, Attachement %>
	<%= link_to 'Nouvel Attachement', new_attachement_path %>
<% end %>
<br />
<%= link_to 'Retour a l\'accueil', acceuil_index_path %>
<br />
<p>
  Telecharger la liste:
  <% link_to "CSV", attachements_path(format: "csv") %> |
  <% link_to "Excel", attachements_path(format: "xls") %>
</p>

<br />

<table class="table">

  <tr>
    <th><%= sort_link @search, :fonction, "Fonction" %></th>
    <th><%= sort_link @search, :emplacement, "Emplacement" %></th>    
    <th><%= sort_link @search, :marque, "Marque" %></th>
    <th><%= sort_link @search, :modele, "Modele" %></th>
    <th><%= sort_link @search, :stock, "#Stock" %></th>
    <th><%= sort_link @search, :serial, "#Serie" %></th>
    <th><%= sort_link @search, :age, "Age" %></th>
    <th><%= sort_link @search, :description, "Description" %></th>
    <th><%= sort_link @search, :prix, "Prix" %></th>
    <th><%= sort_link @search, :bonus, "Bonus" %></th>
    <th></th>
    <th></th>
    <th></th>
  </tr></thead>

<tbody>
<% @attachements.each do |attachement| %>
  <tr>
    <td><%= attachement.fonction %></td>
    <td><%= attachement.emplacement %></td>    
    <td><%= attachement.marque %></td>
    <td><%= attachement.modele %></td>
    <td><%= attachement.stock %></td>
    <td><%= attachement.serial %></td>
    <td><%= attachement.age %></td>
    <td><%= attachement.description %></td>
    <td><%= number_to_currency(attachement.prix) %></td>
    <td><%= number_to_currency(attachement.bonus) %></td>
    <td><%= link_to 'Details', attachement %></td>
    <% if can? :update, Attachement %>
    <td><%= link_to 'Modifier', edit_attachement_path(attachement) %></td>
    <% end %>
    <% if can? :destroy, Attachement %>
    <td><%= link_to 'Supprimer', attachement, method: :delete, data: { confirm: 'Êtes-vous sure?' } %></td>
    <% end %>
  </tr>
<% end %>
</tbody>
</table>
