<h1>Liste des Accessoires Usages</h1>


<div class="search">
	<%= search_form_for @search do |f|%>
		<div class="field">
		    <%= f.label :model_or_serial_or_stock_cont, "Recherche Modele, #Serie, #Stock" %>
		    
		  
		    <%= f.text_field :model_or_serial_or_stock_cont %>
	  	</div>
	  	<div class="actions">
	    	<%= f.submit "Rechercher" %>
	  	</div>
	<% end %>
</div>


<% if can? :create, UsedAccessory %>
	<%= link_to 'New Used accessory', new_used_accessory_path %>
<% end %>


<table class="table">
  <tr>
    <th><%= sort_link @search, :location, "Empl" %></th>
    <th><%= sort_link @search, :brand, "Marque" %></th>
    <th><%= sort_link @search, :model, "Modele" %></th>
    <th><%= sort_link @search, :year, "Annee" %></th>
    <th><%= sort_link @search, :serial, "#Serie" %></th>
    <th><%= sort_link @search, :stock, "#Stock" %></th>
    <th><%= sort_link @search, :fielddate, "Arrivee" %></th>
    <th><%= sort_link @search, :lsp, "LSP" %></th>
    <th><%= sort_link @search, :price, "Prix" %></th>
    <th><%= sort_link @search, :bonus, "Bonus" %></th>
    <th><%= sort_link @search, :description, "Description" %></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @used_accessories.each do |used_accessory| %>
  <tr>
    <td><%= used_accessory.location.name %></td>
    <td><%= used_accessory.brand %></td>
    <td><%= used_accessory.model %></td>
    <td><%= used_accessory.year %></td>
    <td><%= used_accessory.serial %></td>
    <td><%= used_accessory.stock %></td>
    <td><%= used_accessory.fielddate %></td>
    <td><%= number_to_currency(used_accessory.lsp) %></td>
    <td><%= number_to_currency(used_accessory.price) %></td>
    <td><%= number_to_currency(used_accessory.bonus) %></td>
    <td><%= used_accessory.description %></td>
    <td><%= link_to 'Details', used_accessory %></td>
    <% if can? :update, UsedAccessory %>
    	<td><%= link_to 'Modifier', edit_used_accessory_path(used_accessory) %></td>
    <% end %>
    <% if can? :destroy, UsedAccessory %>
    	<td><%= link_to 'Supprimer', used_accessory, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <% end %>
  </tr>
<% end %>
</table>

<br />


