<p id="notice"><%= notice %></p>

<p>
  <b>Location:</b>
  <%= @used_accessory.location_id %>
</p>

<p>
  <b>Brand:</b>
  <%= @used_accessory.brand %>
</p>

<p>
  <b>Model:</b>
  <%= @used_accessory.model %>
</p>

<p>
  <b>Year:</b>
  <%= @used_accessory.year %>
</p>

<p>
  <b>Serial:</b>
  <%= @used_accessory.serial %>
</p>

<p>
  <b>Stock:</b>
  <%= @used_accessory.stock %>
</p>

<p>
  <b>Fielddate:</b>
  <%= @used_accessory.fielddate %>
</p>
<p>
  <b>Status:</b>
  <%= @used_accessory.status.stat %>
</p>

<p>
  <b>Lsp:</b>
  <%= @used_accessory.lsp %>
</p>

<p>
  <b>Price:</b>
  <%= @used_accessory.price %>
</p>

<p>
  <b>Bonus:</b>
  <%= @used_accessory.bonus %>
</p>

<p>
  <b>Description:</b>
  <%= @used_accessory.description %>
</p>

<% if can? :update, UsedAccessory %>
	<%= link_to 'Edit', edit_used_accessory_path(@used_accessory) %> |
<% end %>
<%= link_to 'Back', used_accessories_path %>
