<h1>Tracteurs Neufs</h1>

<div class="search">
	<%= search_form_for @search do |f|%>
		<div class="field">
		    <%= f.label :model_or_serial_cont, "Recherche Modele ou #Serie" %>
		    
		  
		    <%= f.text_field :model_or_serial_cont %>
	  	</div>
	  	<div class="actions">
	    	<%= f.submit "Rechercher" %>
	  	</div>
	<% end %>
</div>


<table class="table">
  <tr>
  	<th><%= sort_link @search, :location, "Emplacement" %></th>
  	<th><%= sort_link @search, :model, "Modele" %></th>
    <th><%= sort_link @search, :serial, "#Serie" %></th>
    <th><%= sort_link @search, :stock, "#Stock" %></th>
    <th><%= sort_link @search, :hours, "Heures" %></th>
    <th><%= sort_link @search, :status, "Status" %></th>
    <th><%= sort_link @search, :status, "Prix" %></th>
    <th><%= sort_link @search, :status, "Bonus" %></th>
    <th><%= sort_link @search, :fielddate, "Jours" %></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @tractors.each do |tractor| %>
  <tr>
  	<td><%= tractor.location.name %></td>
  	<td><%= tractor.model %></td>
    <td><%= tractor.serial %></td>
    <td><%= tractor.stock %></td>
    <td><%= tractor.hours %></td>
    <td><%= tractor.status.stat %></td>
    <td><%= tractor.price %></td>
    <td><%= tractor.bonus %></td>
    <td><%= ((tractor.fielddate - Date.today).to_i + 365) > 0 ? ((tractor.fielddate - Date.today).to_i + 365) : 0 %></td>
    
    
    <td><%= link_to 'Details', tractor %></td>
    <% if can? :update, Tractor %>
    	<td><%= link_to 'Modifier', edit_tractor_path(tractor) %></td>
    <% end %>
    <% if can? :destroy, Tractor %>
    	<td><%= link_to 'Supprimer', tractor, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  	<% end %>
  </tr>
<% end %>
</table>

<br />
<% if can? :create, Tractor %>
	<%= link_to 'Nouveau Tracteur', new_tractor_path %>
<% end %>
