<p>
  <b>Emplacement:</b>
  <%= @tractor.location.name %>
</p>

<p>
  <b>Modele:</b>
  <%= @tractor.model %>
</p>

<p>
  <b>#Serie:</b>
  <%= @tractor.serial %>
</p>

<p>
  <b>#Stock:</b>
  <%= @tractor.stock %>
</p>

<p>
  <b>Heures:</b>
  <%= @tractor.hours %>
</p>

<p>
  <b>Facture:</b>
  <%= @tractor.invoice %>
</p>

<p>
  <b>Status:</b>
  <%= @tractor.status.stat %>
</p>

<p>
  <b>Bonus:</b>
  <%= number_to_currency(@tractor.bonus) %>
</p>

<p>
  <b>Jours:</b>
  <td><%= (Date.today - @tractor.fielddate) > 0 ? (Date.today - @tractor.fielddate).to_i : 0 %></td>
    
</p>

<p>
  <b>Description:</b>
  <%= @tractor.description %>
</p>

<% if can? :update, Tractor %>
	<%= link_to 'Edit', edit_tractor_path(@tractor) %> |
<% end %>
<%= link_to 'Back', tractors_path %>

<p id="notice"><%= notice %></p>
