<p id="notice"><%= notice %></p>

<p>
  <b>Location:</b>
  <%= @used.location_id %>
</p>

<p>
  <b>Model:</b>
  <%= @used.model %>
</p>

<p>
  <b>Year:</b>
  <%= @used.year %>
</p>

<p>
  <b>Serial:</b>
  <%= @used.serial %>
</p>

<p>
  <b>Stock:</b>
  <%= @used.stock %>
</p>

<p>
  <b>Hours:</b>
  <%= @used.hours %>
</p>

<p>
  <b>Fielddate:</b>
  <%= @used.fielddate %>
</p>

<p>
  <b>Status:</b>
  <%= @used.status.stat %>
</p>

<p>
  <b>Lsp:</b>
  <%= @used.lsp %>
</p>

<p>
  <b>Price:</b>
  <%= @used.price %>
</p>

<p>
  <b>Bonus:</b>
  <%= @used.bonus %>
</p>

<p>
  <b>Description:</b>
  <%= @used.description %>
</p>

<% if can? :update, Used %>
	<%= link_to 'Edit', edit_used_path(@used) %> |
<% end %>
<%= link_to 'Back', useds_path %>
