<h1>Liste des Souffleurs</h1>


<div class="search">
	<%= search_form_for @search do |f|%>
		<div class="field">
		    <%= f.label :model_or_serial_or_stock_cont, "Recherche Modele ou #Serie" %>
		    
		  
		    <%= f.text_field :model_or_serial_cont %>
	  	</div>
	  	<div class="actions">
	    	<%= f.submit "Rechercher" %>
	  	</div>
	<% end %>
</div>

<%= link_to 'Nouveau Souffleur', new_snowblower_path %>
<br />
<%= link_to 'Retour a l\'accueil', acceuil_index_path %>

<table class="table">
  <tr>
    <th>Marque</th>
    <th>Modele</th>
    <th>Couleur</th>
    <th># Stock</th>
    <th># Serie</th>
    <th>Description</th>
    <th>Date Arrivee</th>
    <th>Prix</th>
    <th>Bonus</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @snowblowers.each do |snowblower| %>
  <tr>
  	<td><%= snowblower.location.name %></td>
    <td><%= snowblower.brand %></td>
    <td><%= snowblower.model %></td>
    <td><%= snowblower.color %></td>
    <td><%= snowblower.stock %></td>
    <td><%= snowblower.serial %></td>
    <td><%= snowblower.description %></td>
    <td><%= snowblower.status.stat %></td>
    <td><%= snowblower.fielddate %></td>
    <td><%= snowblower.price %></td>
    <td><%= snowblower.bonus %></td>
    <td><%= link_to 'Show', snowblower %></td>
    <td><%= link_to 'Edit', edit_snowblower_path(snowblower) %></td>
    <td><%= link_to 'Destroy', snowblower, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />


