<p id="notice"><%= notice %></p>

<p>
  <b>Marque:</b>
  <%= @snowblower.brand %>
</p>

<p>
  <b>Modele:</b>
  <%= @snowblower.model %>
</p>

<p>
  <b>Couleur:</b>
  <%= @snowblower.color %>
</p>

<p>
  <b># Stock:</b>
  <%= @snowblower.stock %>
</p>

<p>
  <b># Serie:</b>
  <%= @snowblower.serial %>
</p>

<p>
  <b>Description:</b>
  <%= @snowblower.description %>
</p>

<p>
  <b>Date d'Arrivee:</b>
  <%= @snowblower.fielddate %>
</p>

<p>
  <b>Prix:</b>
  <%= @snowblower.price %>
</p>

<p>
  <b>Bonus:</b>
  <%= @snowblower.bonus %>
</p>


<%= link_to 'Edit', edit_snowblower_path(@snowblower) %> |
<%= link_to 'Back', snowblowers_path %>
