<p id="notice"><%= notice %></p>

<p>
  <b>Model:</b>
  <%= @rental_fleet2.model %>
</p>

<p>
  <b>Serial:</b>
  <%= @rental_fleet2.serial %>
</p>

<p>
  <b>Client:</b>
  <%= @rental_fleet2.client %>
</p>

<p>
  <b>Location:</b>
  <%= @rental_fleet2.location %>
</p>

<p>
  <b>Dateout:</b>
  <%= @rental_fleet2.dateout %>
</p>

<p>
  <b>Salesman:</b>
  <%= @rental_fleet2.salesman %>
</p>

<p>
  <b>Hours:</b>
  <%= @rental_fleet2.hours %>
</p>

<p>
  <b>Bonus:</b>
  <%= @rental_fleet2.bonus %>
</p>

<p>
  <b>Description:</b>
  <%= @rental_fleet2.description %>
</p>


<%= link_to 'Edit', edit_rental_fleet2_path(@rental_fleet2) %> |
<%= link_to 'Back', rental_fleet2s_path %>
