<!DOCTYPE html>
<html>
<head>
  <title>Inventaire</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <!-- <%= image_tag "alaporte.png" %><%= image_tag "ckl.png" %> -->
  
  <div class="navbar navbar-fixed-top">  
  <div class="navbar-inner">  
    <div class="container">  
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">  
        <span class="icon-bar"></span>  
        <span class="icon-bar"></span>  
        <span class="icon-bar"></span>  
      </a>  
      <div class="brand"> <%= link_to 'Accueil', acceuil_index_path %> </div>
      	<!-- <a class="brand" href="#">INVENTAIRE</a> -->
      <div class="nav-collapse">
        <ul class="nav">  
        <li><%= link_to "Tracteurs Neufs", tractors_path %></li>
          <!-- <li><% link_to "Équipements", equipements_path %></li> -->
		  <li><%= link_to "Attachements", attachements_path %></li>
		  <li><%= link_to "Souffleurs", snowblowers_path %></li>

        </ul>
        <% if notice %>
  			<p class="alert alert-notice"><%= notice %></p>
		<% end %>
		<% if alert %>
  			<p class="alert alert-error"><%= alert %></p>
		<% end %>
		<p class="navbar-text pull-right">
		<% if user_signed_in? %>
		  Logged in as <strong><%= current_user.email %></strong>.
		  <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> |
		  <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
		<% else %>
		  <%#= link_to "Sign up", new_user_registration_path, :class => 'navbar-link' %> |
		  <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
		<% end %>
      </div>  
    </div>  
  </div>  
</div>


</head>
<body>

<%= yield %>

</body>
</html>
